.container-receita {
    width: 100%;
    max-width: 600px;
    height: 92vh;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 25px 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 2px auto;
}

.container-receita h1 {
    text-align: center;
    font-size: 42px;
    color: #333;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container-receita form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.container-receita label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 3px;
}

.container-receita input,
select {
    width: 100%;
    padding: 3px 12px;
    border: 1px solid #777;
    border-radius: 5px;
    background: #dcdcdc;
    font-size: 14px;
    outline: none;
}

.container-receita input::placeholder {
    color: #555;
}

.container-receita .btn-area {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.container-receita .btn-area button {
    width: 210px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #ffc800;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.container-receita .btn-area button:hover {
    background: #e6b400;
}

#footer-cadastroReceita{
  text-align: center;
}

#footer-cadastroReceita .btn-voltar{
  border: none;
  color: #555;
  padding: 2px;
  cursor: pointer;
}