#app{
    background-color: #E9ECEF;
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto';
}

.footer-login{
    text-align: center;
    font-size: 14px;
}

#tela-login{
    border: none;
    color: #FF383C;
    background-color: #FFFFFF;
}