/* Sidebar */
aside {
    width: 250px;
    background-color: #6C757D;
    color: white;
    padding: 20px;
}

aside img {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

aside ul {
    list-style: none;
}

aside li {
    margin: 15px 0;
    text-align: center;
}

aside button {
    color: #000000;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
    background-color: #E9ECEF;
    border: none;
}

aside button:hover {
    background-color: #FFC107;
    border: #856404 2px solid;
    cursor: pointer;
}

aside button.active {
    background-color: #FFC107;
    border: #856404 2px solid;
}

/* Conteúdo principal */
#section{
    flex: 1;
    padding: 20px;
    background-color: #E9ECEF;
    height: 100%;
    width: 100%;
}

main h1 {
    color: #333;
    margin-bottom: 20px;
}

main p {
    color: #666;
    line-height: 1.6;
}

